<?xml version="1.0"?>
<model>
  <name>Double Pendulum Kinematics</name>
  <version>1.0</version>
  <sdf version="1.5">double_pendulum-1.5.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    Only the kinematics of the double_pendulum_with_base model, all
    collisions and visuals removed.
  </description>
</model>
