common:clang --repo_env=CC=clang-15
common:clang --repo_env=CXX=clang++-15
build:clang --action_env=CC=clang-15
build:clang --action_env=CXX=clang++-15
build:clang --host_action_env=CC=clang-15
build:clang --host_action_env=CXX=clang++-15

### ASan build. Clang only. ###
build:asan --build_tests_only
build:asan --copt=-g
# https://github.com/google/sanitizers/wiki/AddressSanitizer#faq
build:asan --copt=-fno-common
build:asan --copt=-fsanitize=address
build:asan --copt=-fsanitize-address-use-after-scope
build:asan --copt=-fstandalone-debug
build:asan --copt=-O0
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address
build:asan --linkopt=-fsanitize-address-use-after-scope
build:asan --run_under=//tools:asan
build:asan --test_env=ASAN_OPTIONS
build:asan --test_env=LSAN_OPTIONS
build:asan --test_env=ASAN_SYMBOLIZER_PATH
build:asan --test_env=LSAN_SYMBOLIZER_PATH
# LSan is run with ASan by default
build:asan --test_tag_filters=-gurobi,-mosek,-snopt,-no_asan,-no_lsan
build:asan --test_lang_filters=-sh,-py
# Typical slowdown introduced by AddressSanitizer is 2x.
# See https://clang.llvm.org/docs/AddressSanitizer.html
build:asan --test_timeout=150,750,2250,9000  # 2.5x
build:asan --define=USING_SANITIZER=ON
# Due to https://sourceware.org/bugzilla/show_bug.cgi?id=25975, we see ...
#  ld.gold: warning: Cannot export local symbol __asan_extra_spill_area
# ... spammed millions of times in ASan builds. The only way to silence that
# warning is to silence ALL WARNINGS AT ALL EVER in ASan builds.
build:asan --auto_output_filter=all
