<?xml version="1.0" encoding="utf-8"?>
<robot name="chained_fixed_joint_links">
  <!-- Base Link -->
  <link name="base_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 1.0"/>
      <geometry>
        <box size="0.1 0.1 2"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

  <!-- Link 2 -->
  <link name="link2">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <box size="1.0 1.0 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <box size="0.1 0.1 1"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

  <!-- Joint 2 -->
  <joint name="joint2" type="fixed">
    <parent link="base_link"/>
    <child link="link2"/>
    <origin rpy="0 0 0.7854" xyz="0 1.0 0.0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.7"/>
  </joint>

  <gazebo reference="link2">
    <sensor name="link2_contact_sensor" type="contact">
      <update_rate>100.0</update_rate>
      <always_on>1</always_on>
      <contact>
        <collision>link2_collision</collision>
      </contact>
    </sensor>
  </gazebo>
</robot>
