name: macOS latest

on: [push, pull_request]

jobs:
  build:

    env:
      PACKAGE: sdformat13
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@master
    - run: brew config
    - run: brew list

    - name: Install base dependencies
      run: |
        brew tap osrf/simulation;
        # check for ci_matching_branch
        brew install wget
        wget https://github.com/ignition-tooling/release-tools/raw/master/jenkins-scripts/tools/detect_ci_matching_branch.py
        TRY_BRANCH="${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
        if python3 detect_ci_matching_branch.py ${TRY_BRANCH}
        then
          echo "# BEGIN SECTION: trying to checkout branch ${TRY_BRANCH} from osrf/simulation"
          pushd $(brew --repo osrf/simulation)
          git fetch origin ${TRY_BRANCH} || true
          git checkout ${TRY_BRANCH} || true
          popd
          echo '# END SECTION'
        fi
        # ignition-math7 has problems with swig, remove it for now
        brew remove swig || true
        brew install --only-dependencies ${PACKAGE};

    - run: mkdir build
    - name: cmake
      working-directory: build
      run: |
        export PYTHONPATH=$PYTHONPATH:`find /usr/local/Cellar -path '*ignition/math.cpython*' | rev | cut -d'/' -f3- | rev`
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/${PACKAGE}/HEAD
    - run: make
      working-directory: build
    - run: make test
      working-directory: build
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
    - name: make install
      working-directory: build
      run: |
        make install;
        brew link ${PACKAGE};
    - name: Compile example code
      working-directory: examples
      run: |
        mkdir build;
        cd build;
        cmake ..;
        make;
        ./simple ../simple.sdf;
